
<div class="calculator container">
    <div class="row">
    	<div class=".col-md-6 .col-md-offset-3">
    		<div class="page-header">
			    <h1>Calculator</h1>
    		</div>
		    <form role="form" class="form-inline" name="calculatorForm">
		    	<div class="row">
		  			<div class="col-lg-6">
				    	<div class="form-group">
                            <select class="form-control input-lg" id="operators" ng-model="form.operation" 
                                ng-options="id as operation.name|lowercase for (id, operation) in operations" required>
				    		</select>
                            <input class="form-control input-lg" type="number" placeholder="enter a number" 
                                ng-model="form.number" required />
                            <button id="btnAdd" class="btn btn-default btn-lg" ng-click="addStep($event)" 
                                ng-disabled="calculatorForm.$invalid">Add step</button>
				  		</div>
		  			</div>
		    	</div>
		  		<div class="row">
		  			<div class="col-lg-6">
		  				<ol id="instructions" class="jumbotron" style="margin-top: 2em;" >
                            <li ng-repeat="step in steps">
                                {{operations[step.id].name}} {{step.number}}
                            </li>
		  				</ol>
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="col-lg-6">
			  			<button id="btnCalculate" class="btn btn-primary btn-lg" ng-click="calculate($event)">Calculate</button>
			  			<button id="btnReset" class="btn btn-danger btn-lg" ng-click="reset($event)">Reset</button>
			  		</div>
		  		</div>
		  		<div class="row">
		  			<div class="col-lg-6">
                        <h2>Result: <span id="result" class="result">{{result.value}}</span></h2>
                        <div class="alert alert-danger" ng-show="result.message">
                            {{result.message}}
                        </div>
			  		</div>
		  		</div>
		  		</p>
		    </form>
	  	</div>
	</div>
</div>

